<html>
    <head>
        <title>Activities</title>
        <style>
        .card-body{
            background:lightblue;
        }
        #block_activity{
            margin-left:0;
        }

        .card{
            margin-top:40px;
        }


        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      

        <script>
        $(document).ready(function(){
            $(".card").click(function(){
                $tok="./activity/"+$(this).children("#token").text();
               /* $.post('/activity',{
                    title: $(this).children("#title").text(),
                    description: $(this).children("#description").text(),
                    num_persons: $(this).children("#num_persons").text(),
                    location: $(this).children("#location").text(),
                    token:$(this).children("#token").text()
                });*/
                $.ajax({
                    type:'POST',
                    url:'/activity',
                    data:"ok",
                    success:function(data){
                        window.location.replace($tok);
                    }
                })

            });
        });
        </script>
    </head>
    <body>
        <%if (loggedIn) {%>
          <h1> You are logged in. </h1>
        <%}
        else {%>
          <h1> You are not logged in. </h1>
        <%}%>
        <div class="card-group" id="block_activity">
        <%for (var i=0; i<events.length; i++){%>
                    <div class="col-4">
                        <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title" id="title"><%=events[i].title%></h4>
                                  <p class="card-text" id="description"><%=events[i].description%></p>
                                  <p class="card-text" id="num_persons"><%=events[i].num_persons%></p>
                                  <p class="card-text" id="location"><%=events[i].location%></p>
                                  <a class="btn btn-primary" id="btn_activity">See Profile</a>
                                 </div>
                        </div>
                    </div>
        <%}%>
         </div>

        

    </body>
</html>
