<html>

<head>
    <title>Add activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/top_bar.css">

    <style>
        .layer {
             background-color: rgba(0, 0, 0, 0.3);
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
        }
        #div_add_form{
            position: relative;
            border-radius:25px;
            border-color:white;
            background-color:white;
            margin-left:35%;
            margin-top:5%;
            padding-top:30px;
            width:30%;
            height:65%;
        }

        #imagine{
            margin-left:30%;
            width:50%;
            max-width:168;
            border-radius:25px 25px 0px 0px;
        }

        #add_btn{
            margin-left:30%;
            width:50%;
            height:10%;
            min-height:40px;
            max-width:168px;
            border-radius:50px;
        }

    </style>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

</head>

<body>
    <div class="top-bar">
        <a href="/"><img src="./Logo.png" width="168" height="58"/></a>
        <div class="dropdown" id="menu">
            <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars" id="iconbars"></i>
            </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="/">Home</a>
                <a href="/my-activities">My activities</a>
                <a href="/joined-activities">Joined activities</a>
                <a href="/add">Add new activity</a>
            </div>
        </div>
    </div>
    <div class="layer">
    </div>
    <div class="container" id="div_add_form">
         <img src="./Logo.png"  height="58" id="imagine" />
        <form id="add_event" method="POST" action="/add">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" required placeholder="Enter the title of your activity...">
            </div>
            <div class="form-group">
                <label for="event_description">Description</label>
                <input type="text" class="form-control" id="event_description" name="event_description" required placeholder="Enter a description...">
            </div>
            <div class="form-group">
                <label for="number_persons">Number of persons</label>
                <input type="number" class="form-control" id="number_persons" name="number_persons" min=1 max=999 required placeholder="Enter the number of persons...">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" required placeholder="Enter the location...">
            </div>
            <button type="submit" class="btn btn-primary" id="add_btn">Submit</button>
        </form>
    </div>
</body>

</html>
