<html>
  <head>
    <title>Login Page</title>
  </head>
  <body>
    <form id="logInUserAccount" method="POST" action="/login">
      <input type="text" name="username" placeholder="Username..." maxlength=12 required />
      <input type="password" name="password" placeholder="Password..." maxlength=20 required />
      <button type="submit">Log in</button>
  </body>
</html>
