<html>
  <head>
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="../styles/register_styles.css">
  </head>
  <body>
      <div class="register">
        <div class="register-triangle"></div>

        <h2 class="register-header">Sign Up</h2>
        <form class="register-container" id="registerUser" method="POST" action="/register">
          <p><input type="text" name="username" placeholder="Username..." maxlength=12 required ></p>
          <p><input type="password" name="password" placeholder="Password..." maxlength=20 required ></p>
          <p><input type="submit" value="Sign Up"></p>
          <a href="/login">Already signed in? Click here.</a>
        </form>
      </div>
  </body>
</html>
