<html>
  <head>
    <title>Register Page</title>
  </head>
  <body>
    <form id="registerUser" method="POST" action="/register">
      <input type="text" name="username" placeholder="Username..." maxlength=12 required />
      <input type="password" name="password" placeholder="Password..." maxlength=20 required />
      <button type="submit">Sign in</button>
  </body>
</html>
